</main>

<footer class="page-footer #9e9e9e grey">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="white-text">Navegacion</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/lab12/flatroute">Inicio</a></li>
                </ul>
            </div>
            <div class="col">
                <h5 class="white-text">Editor</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/Gamaliel-Marines/Construccion-de-Software-y-Toma-de-Decisiones-.git">Visual Studio
                            Code</a></li>
                </ul>
            </div>
            <div class="col">
                <h5 class="white-text">Contacto</h5>
                <ul>
                    <li>Gamaliel Marines Olvera</li>
                    <li>A01708746</li>
                    <li><a class="grey-text text-lighten-3" href="mailto:a01708746@tec.mx">a01708746@tec.mx</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2023 Copyright Text
        </div>
    </div>
</footer>
</body>

</html>