<!DOCTYPE html>
<html>
    <head>
      <br>
        <title>LOST & FOUND</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link href="styles.css">
        <style>
          body{
            background-color: rgb(8, 8, 35);
          }
          .card-content
          {
            background-color: rgb(8, 8, 35);
            color: white;
          }
          #ctitle
          {
            color: white;
            font-weight: bolder;
          }
          #csubtitle
          {
            color: white;
          }
          #containercards
          {
            background-color: rgb(50, 50, 50);
            padding: 20px;
            border-radius: 20px;
          }
          .title
          {
            color: white;
          }
          label
          {
            font-weight: bolder;
            color: white;
          }
          .navbar-item
          {
            font-weight: bolder;
          }

        </style>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="https://tec.mx/es">
                <img src="https://javier.rodriguez.org.mx/itesm/2014/tecnologico-de-monterrey-blue.png" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  Home
                </a>
          
                <a class="navbar-item">
                  Documentation
                </a>
          
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    More
                  </a>
          
                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      About
                    </a>
                    <a class="navbar-item">
                      Jobs
                    </a>
                    <a class="navbar-item">
                      Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                      Report an issue
                    </a>
                  </div>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a style="background-color:  rgb(8, 8, 35);" class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                      Log in
                    </a>
                    <a href = "/users/logout" class="button is-light">
                      Salir
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>

        <main class="container">