<%- include('includes/head.ejs') %>

<h1 class="title">LOG IN</h1>

<% if(mensaje) {%>

    <div class="notificatio is-link is-light">
        
    </div>

<%}%>

<br><br>

<form action="/hot_cakes/nuevo" method="POST">

    <label for="usename">Nombre de usuario:</label>
    <input name="usename" id="usename" class="input is-rounded" type="text" placeholder="TU USERNAME">

    <label for="password">Password:</label>
    <input name="password" id="password" class="input is-rounded" type="password">

    <br><br>

    <input class="button is-info is-rounded" type="submit" value="Registrar">

</form>

<%- include('includes/foot.ejs') %>