<%- include('includes/head.ejs') %>

<h1 class="title">REGISTRAR OBJETO PERDIDO</h1>

<br><br>


<form action="/lost_founds/nuevo" method="POST">

    

    <label for="descripcion">Descripcion:</label>
    <input name="descripcion" id="descripcion" class="input is-rounded" type="text" placeholder="@objeto_perdido">

    <label for="handle">Lugar:</label>
    <input name="handle" id="handle" class="input is-rounded" type="text" placeholder="lugar donde se encontro el objeto">

    <label for="fecha">Fecha:</label>
    <input name="fecha" id="fecha" class="input is-rounded" type="text" placeholder="00/00/0000">

    <label for="handle">Matricula:</label>
    <input name="handle" id="handle" class="input is-rounded" type="text" placeholder="A01700000">

    <label for="nombre">Nombre:</label>
    <input required name="nombre" id="nombre" class="input is-rounded" type="text" placeholder="Nombre">


    <br><br>

    <input class="button is-info is-rounded" type="submit" value="Registrar">

</form>

<%- include('includes/foot.ejs') %>